.base-button{
    font: 400 0.875rem 'NunitoSans';
    padding: 0.8rem 1rem !important;
    margin: 0.2rem 0.5rem !important;
    border-radius: 0.5rem;
}

.theme--light{
    .base-button{
        color: #373737 !important ;
    }
}

.theme--dark{
    .base-button{
        color: #fff !important ;
        background: #444 !important;
    }
}