.base-search {
    .theme--light {
      ::v-deep .v-input__slot {
        background-color: #FFF !important;
        border-radius: 0.5rem ;
        font: 400 0.875rem 'NunitoSans' !important;
      }

      ::v-deep .v-label {
        color: #373737 !important;
        font: 400 0.875rem 'NunitoSans' !important;
      }
    }

    ::v-deep .theme--light.v-input input{
        color: #373737 !important
    }
  }
