.back-link{
    text-decoration: none;
}

.flag-and-information-container{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;

    .flag-card{
        border-radius: 1rem;
    }
}

.contry-information{
    display: flex;
    flex-direction: column;
    font: 400 1rem 'NunitoSans';

    &__title-row{
        display: flex;
        align-items: flex-end;

        .title{
            font: 800 2rem 'NunitoSans' !important;
            margin-bottom: 1.5rem
        }
    }

    &__general-info-row{
        display: flex;
        align-items: center;

        .answer-text{
            color: #676767
        }
    }

    &__border-country-row{
      display: flex;
      align-items: center;
    }
}

.theme--light{
    .back-link{
        svg{
            path{
                stroke: #000;
            }
        }
    }

    .contry-information{
        color: #373737;

        &__general-info-row{
            .answer-text{
                color: #676767
            }
        }
    }
}

.theme--dark{
    .back-link{
        svg{
            path{
                stroke: #fff;
            }
        }
    }

    .contry-information{
        color: #fff;

        &__general-info-row{
            .answer-text{
                color: #ccc
            }
        }
    }
}