.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding:2.5rem 3.5rem;

    &__title{
      font: 800 2rem 'NunitoSans';
    }

    &__dark-mode-toggle{
      display: flex;
      align-items: center;
      font: 400 1rem 'NunitoSans';

      svg{
          width: 1.5rem;
          margin:0 0.3rem;
        path{
            stroke: #FFF;
        }
      }
    }
}


.theme--light{
    .main-content{
      background: #FAFAFA;
    }

    .header{
        background: #FFF;

        &__title{
            color: #000;
        }

        &__dark-mode-toggle{
            color: #373737;

            svg{
                path{
                    stroke: #000;
                }
            }
        }
    }
}

.theme--dark{
    .main-content{
      background: #333;
    }

    .header{
        background: #444;

        &__title{
            color: #fff;
        }

        &__dark-mode-toggle{
            color: #fff;

            svg{
                path{
                    stroke: #fff;
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
  .header{
    &__title{
      font: 600 1rem 'NunitoSans';
    }

     &__dark-mode-toggle{
      font: 400 0.875rem 'NunitoSans';
    }
  }
}